$Grid-item-size: 4rem;

.Grid {
    position: relative;
    margin: 0 auto;
    height: $Grid-item-size * 5;
    width: $Grid-item-size * 5;
    padding-left: $Grid-item-size;
    padding-right: $Grid-item-size;
    box-sizing: initial;

    &::after {
        content: "";
        display: block;
        width: 100%;
        height: 7px;
        background-color: $pillar-yellow;
        box-shadow: inset 0 1px 1px lighten($pillar-yellow, 30%), inset 0 -1px darken($pillar-yellow, 10%);

        position: absolute;
        bottom: 0;
        left: 0;
    }
}

.Grid-item {
    width: $Grid-item-size;
    height: $Grid-item-size;
    position: absolute;
}

@for $x from 0 through 4 {
    @for $y from 0 through 4 {
        .Grid-item-#{$x}-#{$y} {
            transform: translate($Grid-item-size * $x, $Grid-item-size * $y);
        }
    }
}

.Grid-x-0::before,
.Grid-x-4::after {
    content: attr(data-y-friendly);
    position: absolute;
    height: $Grid-item-size;
    width: $Grid-item-size / 2;
    top: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Luckiest Guy", cursive;
    font-size: 2rem;

    background-color: $pillar-yellow;
    background-image: linear-gradient(#ffe481, transparent);
    box-shadow: inset 1px -1px darken($pillar-yellow, 10%), inset -1px 1px lighten($pillar-yellow, 30%);

    color: #796419;
    text-shadow: -1px -1px lighten(#796419, 50%);
}

.Grid-x-0::before {
    left: ($Grid-item-size / 2) * -1;
}

.Grid-x-4::after {
    right: ($Grid-item-size / 2) * -1;
}