.Stats {
    display: flex;
    justify-content: space-between;
}

.Stats-player {
    --player-color: green;
    --box-shadow: #{inset 1px -1px darken($stone, 10%), inset -1px 1px lighten($stone, 10%)};

    font-family: "Luckiest Guy", cursive;
    display: flex;
    background-color: $stone;
    padding: 5px;
    border-radius: 5px;
    box-shadow: var(--box-shadow);
    border: 1px solid transparent;

    & > div {
        background-color: $dark-bg;
        padding: 5px;
        padding-bottom: 0;
        border-radius: 2px;
        box-shadow: inset 0 -.5rem rgba(0,0,0,.11), 1px -1px darken($stone, 10%), -1px 1px lighten($stone, 10%);
    }

    &.active {
        background-image: linear-gradient(rgba(120, 170, 170, 0.281), rgb(120, 170, 170));
        animation: Stats-player-active 4s infinite cubic-bezier(0.26,-0.4, 0.9, 1.38);
        border-color: cyan;
    }
}

@keyframes Stats-player-active {
    0%, 100% {
        box-shadow: var(--box-shadow), 0 0 1px cyan;
    }
    50% {
        box-shadow: var(--box-shadow), 0 0 2rem cyan;
    }
}

.Stats-player-points {
    color: $stone;
    margin-left: 3px;
}

.Stats-player-name {
    color: var(--player-color);
    min-width: 100px;
}

.Stats-player-red {
    --player-color: #{$red};
}

.Stats-player-blue {
    --player-color: #{$blue};
}